name: Renovate

on:
  schedule:
    - cron: "15 * * * *"

permissions:
  packages: read # Allow downloading of packages.

jobs:
  renovate:
    name: Renovate
    runs-on: ubuntu-latest

    env:
      NPM_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Renovate
        uses: renovatebot/github-action@8b7941943a108b2cc2150730963164aa8baeab8c # v44.2.2
        with:
          token: ${{ secrets.RENOVATE_TOKEN }}
          configurationFile: .github/renovate.config.cjs
        env:
          LOG_LEVEL: debug
          RENOVATE_GIT_AUTHOR_NAME: ${{ secrets.RENOVATE_GIT_AUTHOR_NAME }}
          RENOVATE_GIT_AUTHOR_EMAIL: ${{ secrets.RENOVATE_GIT_AUTHOR_EMAIL }}
          RENOVATE_GITHUB_PACKAGE_TOKEN: ${{ secrets.RENOVATE_GITHUB_PACKAGE_TOKEN }}
